OKD_EDITOR_BASE_IMAGE=ghcr.io/euro-office/documentserver:v9.3.1
OKD_JWT_SECRET=replace-with-a-long-random-secret
OKD_JWT_TTL_SECONDS=3600
OKD_PUBLIC_EDITOR_URL=
OKD_DEMO_ACCESS_TOKEN=
OKD_DEMO_ACCESS_PARAM=okd_access
OKD_CLOUDFLARE_TUNNEL_ID=
OKD_SESSION_PARAM=okd_session
OKD_MAX_UPLOAD_BYTES=52428800
OKD_FRAME_ANCESTORS='self' http://localhost:* https://localhost:* https://okai.com.br https://app.okai.com.br https://www.okai.com.br https://okaiedgeqa.azurewebsites.net https://okaiedge.azurewebsites.net
