*

!server/
!server/Dockerfile.level1
!server/Common/
!server/Common/**
!server/DocService/
!server/DocService/**
!server/FileConverter/
!server/FileConverter/**
!server/branding/
!server/branding/**
!server/patches/
!server/patches/**

!web-apps/
!web-apps/apps/
!web-apps/apps/api/
!web-apps/apps/api/documents/
!web-apps/apps/api/documents/api.js
!web-apps/apps/api/documents/cache-scripts.html
!web-apps/apps/api/documents/preload.html
!web-apps/apps/documenteditor/
!web-apps/apps/documenteditor/main/
!web-apps/apps/documenteditor/main/locale/
!web-apps/apps/documenteditor/main/locale/pt.json
!web-apps/apps/pdfeditor/
!web-apps/apps/pdfeditor/main/
!web-apps/apps/pdfeditor/main/locale/
!web-apps/apps/pdfeditor/main/locale/pt.json
!web-apps/apps/presentationeditor/
!web-apps/apps/presentationeditor/main/
!web-apps/apps/presentationeditor/main/locale/
!web-apps/apps/presentationeditor/main/locale/pt.json
!web-apps/apps/spreadsheeteditor/
!web-apps/apps/spreadsheeteditor/main/
!web-apps/apps/spreadsheeteditor/main/locale/
!web-apps/apps/spreadsheeteditor/main/locale/pt.json
